* {
  transition: 0.33 ease all;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  height: 100vh;
  font: inherit;
  width: 100%;
  max-width: 1800px;
  min-width: 300px;
  vertical-align: baseline;
  font-family: "Raleway", sans-serif;
  margin: auto;
}

/* APP MAIN START */
#app {
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px;
  min-width: 350px;
}

/* APP MAIN END */

/* NAVBAR START */
.nav-bar {
  display: flex;
  flex-flow: row wrap;
  justify-content: start;
  align-items: center;
}

.links {
  margin-left: auto;
}

.nav-bar a {
  text-decoration: none;
  color: #000000;
  margin-right: 20px;
  padding: 15px 0;
}

.item-link:hover,
.item-link:active {
  border-top: 2px solid #0065fc;
  color: #0065fc;
}

.nav-bar .sign-up {
  color: #0065fc;
  font-weight: 600;
  margin: 0;
}

.links,
.line-break {
  order: 1;
}

.sign-up {
  order: 2;
}

/* NAVBAR END */

header {
  margin-top: 25px;
}

header h3 {
  margin-bottom: 15px;
  font-size: 1.8em;
}

#main-search-form {
  box-sizing: border-box;
  margin-top: 15px;
  margin-bottom: 20px;
}

.search-input-container {
  display: flex;
  overflow: hidden;
  width: 400px;
  vertical-align: middle;
  white-space: nowrap;
}

.search-input-container input[type="search"] {
  height: 40px;
  border: 1px solid #f2f2f2;
  font-size: 10pt;
  margin: 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.search-input-container input[type="search"]::-webkit-input-placeholder {
  color: #000000;
  font-weight: 500;
}

.search-input-container input[type="search"]:-moz-placeholder {
  /* Firefox 18- */
  color: #000000;
  font-weight: 500;
}

.search-input-container input[type="search"]::-moz-placeholder {
  /* Firefox 19+ */
  color: #000000;
  font-weight: 500;
}

.search-input-container input[type="search"]:-ms-input-placeholder {
  color: #000000;
  font-weight: 500;
}

.search-input-container button {
  -webkit-border-top-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-radius-topright: 10px;
  -moz-border-radius-bottomright: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: none;
  background: #0065fc;
  height: 40px;
  margin: 0;
  color: #f1f1f1;
  font-size: 10pt;
}

.search-input-container p {
  -webkit-border-top-left-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: none;
  background: #f2f2f2;
  height: 40px;
  width: 40px;
  text-align: center;
  margin: 0;
  font-size: 1.2em;
}

.search-input-container i {
  position: relative;
  top: 10px;
}

/* HEADER START*/
.filters-container {
  display: flex;
  direction: row;
  justify-content: start;
  flex-wrap: wrap;
  align-items: center;
}

.filter-title {
  margin: 0;
  margin-right: 30px;
  margin-top: 10px;
}

.filter-tag {
  margin-right: 20px;
  margin-top: 10px;
  border-radius: 30px;
  border: 2px solid #f2f2f2;
  text-decoration: none;
  color: #000000;
  display: flex;
  direction: row;
  justify-content: start;
}

.filter-tag p {
  padding: 8px;
  margin: 0;
}

.tag-icon {
  background-color: #deebff;
  width: 20px;
  text-align: center;
  text-justify: auto;
  border-radius: 50%;
}

.search-info {
  width: 350px;
  display: flex;
  direction: row;
  align-items: center;
  font-size: 0.8em;
  margin-top: 20px;
  color: gray;
}

.info-search-icon p {
  margin: 0;
  padding: 0;
}

.info-search-icon {
  border: 2px solid gray;
  border-radius: 50%;
  color: #0065fc;
  margin: 0;
  margin-right: 10px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 1em;
}

/* HEADER END */

/* Accommodations START*/
#accommodations {
  margin-top: 30px;
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 30px;
}

#accommodations h3, #acc-recommendation h3{
  margin-bottom: 20px;
}

.acc-results, .acc-recommendation {
  padding: 25px;
  background: #f2f2f2;
  border-radius: 10px;
}

.acc-results {
  flex: 3;
}

.acc-recommendation {
  flex: 1;
}

.wrapper-searched-acc {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.accommodation-card {
  overflow: hidden;
  background-color: white;
  border-radius: 1rem;
  position: relative;
  display: flex;
  flex-flow: column;
  padding: 5px;
  height: 250px;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  height: 100%;
}

.card-title, .price {
  font-weight: 600;
}

.card-description, .rate {
  font-size: 0.9em;
}

.rate ul {
  margin: 0;
  padding: 0;
  padding: 0;
}

.rate li {
  list-style-type: none;
  display: inline;
  color: gray;
}

.accommodation-card .filled {
  color: #0065fc;
}

.accommodation-card img {
  height: 60%;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: block;
  object-fit: cover;
}

.popular-section-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}



/* Activities section */
#activities {
  margin-top: 35px;
  margin-bottom: 35px;
}

.gallery {
  margin-top: 25px;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 250px);
}

.gallery div {
  height: 100%;
  box-sizing: border-box;
  border-radius: 15px;
}

.main-activity1,
.main-activity2,
.activity1,
.activity2,
.activity3,
.activity4 {
  box-sizing: border-box;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-box-shadow: 2px 11px 5px -12px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 11px 5px -12px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 11px 5px -12px rgba(0, 0, 0, 0.75);
}

.activity-title {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  bottom: 0;
  background: white;
  z-index: 51;
  -webkit-border-bottom-right-radius: 15px;
  -webkit-border-bottom-left-radius: 15px;
  -moz-border-radius-bottomright: 15px;
  -moz-border-radius-bottomleft: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  font-size: 1em;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.main-activity1 {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row: span 2;
  background-image: url("/img/activites/3_medium/reno-laithienne.jpg");
}

.main-activity2 {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row: span 2;
  background-image: url("/img/activites/3_medium/kilyan-sockalingum.jpg");
}

.activity1 {
  background-image: url("/img/activites/3_medium/paul-hermann.jpg");
}

.activity2 {
  grid-column: 2 / 2;
  grid-row: 2 / 2;
  background-image: url("/img/activites/3_medium/kevin-hikari.jpg");
}

.activity3 {
  background-image: url("/img/activites/3_medium/florian-wehde.jpg");
}
.activity4 {
  background-image: url("/img/activites/3_medium/lena-paulin.jpg");
}

/* Footer START */
footer {
  background: #f3f3f3;
  padding: 30px;
  margin-top: 20px;
  display: flex;
  flex-flow: row wrap;
}

footer h4 {
  margin-bottom: 15px;
  margin-top: 20px;
}

footer section {
  margin-right: 10%;
}

footer ul {
  margin: 0;
  padding: 0;
}

footer li {
  list-style-type: none;
  margin-bottom: 10px;
  font-size: 0.8em;
}

/* media */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 650px) {
  /* modifying the nivebar when the screen gets down to 650px in viewport */
  .links {
    width: 120%;
    order: 2;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    border-bottom: 1px solid rgb(163, 163, 163);
    color: black;
    margin: 0 -25px;
  }

  .nav-bar .sign-up {
    margin-left: auto;
    order: 1;
  }

  .line-break {
    width: 100%;
  }

  .links a {
    width: 50%;
    margin-right: 0;
    text-align: center;
  }

  .links a:hover,
  .links a:active {
    border-top: none;
  }

  .links a:hover,
  .links a:active {
    border-bottom: 2px solid #0065fc;
    color: #0065fc;
  }

  #found-accommodations {
    width: 100%;
  }
  .accommodation-cards {
    display: flex;
    flex-flow: column wrap;
  }

  #found-accommodations .accommodation-cards .card {
    width: 100%;
  }

  #found-accommodations .accommodation-cards .card img {
    width: 100%;
    height: 70%;
  }
}

@media only screen and (max-width: 768px) {
  #found-accommodations {
    flex-basis: 100%;
    margin: 0;
    margin-top: 20px;
    order: -1;
  }
  #most-popular {
    margin: 0;
    order: -2;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 900px) {
  #found-accommodations .card {
    width: 260px;
    height: 320px;
  }
  #found-accommodations {
    flex: 1;
    width: 100%;
    order: 3;
  }

  #activities .gallery {
    margin-top: 25px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(6, 1fr);
  }

  #activities .main-activity1 {
    height: auto;
    width: auto;
    height: 300px;
    grid-row: span 1;
    grid-column-start: 1;
  }
  #activities .main-activity2 {
    grid-row: span 1;
    grid-column-start: 1;
    grid-column-end: 1;
  }
  #activities .activity1 {
    width: 100%;
    grid-column-start: 1;
  }
  #activities .activity2 {
    grid-column-start: 1;
  }
  #activities .activity3 {
    grid-column-start: 1;
  }
  #activities .activity4 {
    grid-column-start: 1;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1400px) {
  
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1570px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {

}
